@model SmallSafe.Web.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="icon" sizes="16x16" href="/images/ss.png">
    <link rel="apple-touch-icon" href="/images/ss.png" sizes="32x32" />
    <title>Small:Safe</title>

    <environment names="Development">
        <link rel="stylesheet" href="/css/smallsafe.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="/css/smallsafe.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("HeaderScripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar-header">
            <a href="/">
                <img src="/images/ss.png" height="38" width="38" />
                <span>
                    Small:Safe
                </span>
            </a>
        </nav>
        <nav class="navbar-main">
            <div class="navbar-nav">
                @if (Model.IsLoggedIn) {                    
                    <span class="narrow-hide">
                    <form method="post" action="/find">
                    @Html.AntiForgeryToken()
                    <input type="text" name="q" value="@Model.Find" placeholder="Find group or item..." /> <button type="submit">Find</button>
                    </form> |
                    </span>

                    <span>
                    <form action="/profile">
                    <button data-href="/profile">Profile</button>
                    </form> |

                    <form action="/signout" method="post">
                    @Html.AntiForgeryToken()
                    <button>Logout</button>
                    </form>
                    </span>
                }
            </div>
            <div>
                <img class="nav-show" src="/images/add.png" height="24" width="24" />
                <img class="nav-close" src="/images/close.png" height="24" width="24" />
            </div>
        </nav>
    </header>

    <main>
        <aside>
            <nav>
                <form name="generatepassword" method="get">
                <fieldset>
                <legend>Password Generator</legend>
                
                <div>
                <label for="genpwmin" title="Minimum length of the generated password">Min length:</label>
                <input type="number" title="Minimum length of the generated password" id="genpwmin" min="0" name="genpwmin" value="12" />
                </div>
                
                <div>
                <label for="genpwmax" title="Maximum length of the generated password">Max length:</label>
                <input type="number" title="Maximum length of the generated password" id="genpwmax" min="0" name="genpwmax" value="0" />
                </div>

                <div>
                <label for="genpwnums" title="Include numbers in the generated password">With numbers:</label>
                <input type="checkbox" title="Include numbers in the generated password" id="genpwnums" name="genpwnums" checked="checked" />
                </div>

                <div>
                <label for="genpwallchars" title="Include special characters, such as commas and exclamation marks, in the generated password">Special characters:</label>
                <input type="checkbox" title="Include special characters, such as commas and exclamation marks, in the generated password" id="genpwallchars" name="genpwallchars" checked="checked" />
                </div>

                <div>
                <button type="submit">Generate</button>
                </div>

                </fieldset>
                </form>

                <p class="generated-passwords"></p>
            </nav>
        </aside>

        @RenderBody()
    </main>

    <footer class="footer ">
        &#169; @DateTime.Today.Year Small:Safe
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            asp-fallback-src="/lib/jquery/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"
            asp-fallback-src="/lib/jquery-sortable/jquery-sortable-min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous">
    </script>
    <environment names="Development">
        <script src="/js/smallsafe.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="/js/smallsafe.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        $(function() { ssInitialise() })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
