@model SmallSafe.Web.ViewModels.Home.IndexViewModel

<article>
    <div class="ss-group-toolbar">
    <form method="post" action="/group/sort">@Html.AntiForgeryToken()<button title="Sort groups by name">Sort by name</button></form> | <input type="text" name="filter" placeholder="Filter groups..." />  | <form method="get" action="/"><input type="checkbox" id="showdeleted" name="showdeleted" value="true" onChange="this.form.submit()" @if (Model.ShowDeleted) {<text>checked </text>}/><label for="showdeleted"> Show deleted</label></form>
    </div>

    @if (Model.Groups.Any()) {
    <ul class="ss-list">
        <li class="ss-list">
            <ul class="ss-list-item">
                @foreach (var safeGroup in Model.Groups) {
                <li class="ss-list-item" data-group="@safeGroup.Id" data-filter="@safeGroup.Name">
                    <div><img class="ss-list-item-drag-handle" src="/images/drag.png" height="26" width="22" title="Move" /></div>
                    <div></div>
                    <div data-href="/group/@safeGroup.Id" class="ss-list-item-link"><span>@safeGroup.Name</span>@if (safeGroup.DeletedTimestamp != null) {<em> (deleted on @safeGroup.DeletedTimestamp.Value.ToString("yyyy-MM-dd HH:mm:ss"))</em>}</div>
                    <div>
                        <form data-confirm="@Model.DeleteConfirmText(safeGroup)" method="post" action="/group/@safeGroup.Id/delete">
                        @Html.AntiForgeryToken()
                        <button class="ss-delete" title="Delete"><img src="/images/close.png" height="15" width="15" /> Delete</button>
                        </form>
                    </div>
                </li>
                }
            </ul>
        </li>
    </ul>
    } else {
    <p>You have no groups. Add one below:</p>
    }

    <a name="addnewgroup" />
    <p>
    <form method="post" action="/group">
    @Html.AntiForgeryToken()
    <fieldset>
    <legend>Add a new group</legend>
    <p>
    <div>Name:</div>
    <input type="text" name="name" />
    </p>

    <p><button name="add" value="true" type="submit" data-depends="input.name">Add</button></p>
    </fieldset>
    </form>
</article>